
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.page {
    max-width: 1440px;

}

.header {
    background: #232E26;
}

.nav {
    
    background-color: #D9EFDE;
    padding: 16px 0px;
    border-radius: 0 0 40px 40px;
}

.nav__content {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

.nav__item  {
    
}

.nav__link {
    text-decoration: none;
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #232E26;
    padding: 24px 12px;

}

.header__bg {
    
    background: #232E26;
    padding: 64px 0;

}

.header__content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;

}

.button {
    padding: 8px 20px;
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    border-radius: 50px;
    cursor: pointer;
}

.button_type_primary {
    border: 1px solid #232E26;
    background-color: #D9EFDE;
}

.button_type_secondary {
    border: none;
    background-color: #232E26;
    color: #D9EFDE;
    

}

.header__title {
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 85px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #D9EFDE;
    max-width: 620px;
}

.header__subtitle{
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #D9EFDE;
    max-width: 500px;
}

.header__left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header__button {
    width: fit-content;
}